<ul class="images">
<%- images ||= @images -%>
<%- images.each do |image| -%>
  <li>
  <%= image_tag image.images.thumbnail.url, :class => :image, :size => "150x150" %>
  <%= image_tag image.user.profile_picture, :class => :userIcon ,:size => "40x40" %>
  <p class="time"><%= Time.zone.at(image.created_time.to_i).strftime("%m-%d %H:%M") %></p>
  </li>
<%- end -%>
</ul>
<hr class="defloat" />

<p class="moreButton">
<%= link_to "more", {:action => :more}, :remote => true %>
</p>
