<div id="map">
  <div id="mapBox"></div><!-- GoogleMap will be inserted -->
  <%= javascript_include_tag url_for(:action => :map) %>
</div>

<div id="images">
  <%= render :partial => "images" %>
</div>

<div class="twitter" id="tweets">
  <%= render :partial => "twitter" %>
</div>

