<ul class="images">
<%- @medias.each do |m| -%>
  <li>
  <%= image_tag m[:images][:standard_resolution][:url], :class => :image %>
  <p class="description">
  <%= m[:tags].join(" ") %>
  </p>
  </li>
<%- end -%>
</ul>
