<div class="description">
  <table>
    <tr>
      <td>
        <%= image_tag "/images/quote.png", :size => "72x72" %>
      </td>
      <td>
        <h3>このサイトについて</h3>
        <p>
        2011年3月11日に東方北太平洋沖地震が日本を襲いました。
        私にも何か出来ることが無いかと考えているとき、海外から日本への祈りをまとめているタグ「#prayforjapan」を知りました。
        InstagramとTwitterで沢山の写真やメッセージが寄せられていることを知り、これをリアルタイムでまとめるサービスをつくろうと思いました。
        そうしてすぐプログラムを組み始め、数時間後に出来上がったのがこのサイトです。
        </p>
      </td>
    </tr>
  </table>
  <p>
  </p>
</div>

<div class="questions">
  <table>
    <tr>
      <tr>
        <td>
          <%= link_to image_tag("/images/user.png", :size => "72x72"), "http://twitter.com/7kamura", :class => :icon %>
        </td>
        <td>
          <h4>このサイトは誰がつくりましたか？</h4>
          <p>
          開発者は <a href="http://twitter.com/7kamura"> @7kamura </a>です。
          連絡先は<%= link_to "こちら", "http://twitter.com/?status=@7kamura "%>にお願いします。
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
