<ul>
  <li><a href="#header">top</a></li>
  <li><a href="#images">images</a></li>
  <li><a href="#tweets">tweets</a></li>
  <li><a href="#map">map</a></li>
  <li><a href="#footer">about</a></li>
</ul>

